body{
    background-color: #3a6ea5;
}

#Title{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
   
}

#Description{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

#bird-image{
    border-radius: 5px;
}

.title-bar{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}



.answer-box{
   margin: auto;
   display:flex;
   flex-direction: column;
   align-items: center;
   gap:30px;
   margin-top: 20px; /* Optional: adds space below the image */
}

.answer-box input,
.answer-box button {
    margin: 5px 0;
}

input[type="text"] {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
  }

button{
    background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
    background-color: #3e8e41;
  }

